.ajoutCategorie{
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

#addCategory::placeholder{
    text-align: center;
}

#addCategory{
    outline: none;
    border-radius: 8px;
    padding:.12rem 15px;
    border: 2px solid rgba(96, 120, 139, 0.63);
    font-size:14px;
    width:20%;
}

.addCategorybtn{
    font-size:14px;
    padding:.8rem 1.8rem;
    background: #1b2327;
    color: whitesmoke;
    border-radius: 8px;
}