.RightSide{
    display: flex;
    flex-direction: column;
    width: 95%;
    justify-content: space-evenly;
    gap:2rem;
    padding-top:2.3rem;
}

@media screen and (max-width:700px){
    .RightSide{
        align-items: center;
        justify-content: center;
    }
}